@import "variables.scss";

$btn-radius: 10px;
$btn-default-shadow:
  5px 5px 10px 0 $dark-shadow,
  -5px -5px 10px 0 $light-shadow;
$btn-active-shadow:
  3px 3px 8px 0 $dark-shadow,
  -3px -3px 8px 0 $light-shadow,
  5px 5px 10px 0 $dark-shadow inset,
  -5px -5px 10px 0 $light-shadow inset;

.neu-btn {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  transition-duration: 0.15s;
  color: $text-color;
  background-color: $default-color;
  padding: 12px 20px;
  box-shadow: $btn-default-shadow;
  border: 3px solid transparent;
  border-radius: $btn-radius;
  font-size: 1rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  &:active {
    box-shadow: $btn-active-shadow;
    background-color: rgba(0, 0, 0, 0.02);
    border-color: $default-color;
  }

  &[disabled] {
    cursor: not-allowed;
    color: $text-color-disabled;
    background: $bg-disabled;
    &:hover {
      background-color: $bg-disabled;
    }
  }

  &--square {
    padding: 12px;
  }
}

.neu-btn-group {
  display: inline-flex;
  border-radius: $btn-radius;
  box-shadow: $btn-default-shadow;

  > .neu-btn {
    border-radius: 0;
    box-shadow: none;

    &:active {
      box-shadow: $btn-active-shadow;
    }
    &:first-child {
      border-top-left-radius: $btn-radius;
      border-bottom-left-radius: $btn-radius;
    }
    &:last-child {
      border-top-right-radius: $btn-radius;
      border-bottom-right-radius: $btn-radius;
    }
  }
}