@import "variables.scss";

.neu-input {
  &[type="url"],
  &[type="tel"],
  &[type="text"],
  &[type="date"],
  &[type="time"],
  &[type="week"],
  &[type="month"],
  &[type="email"],
  &[type="color"],
  &[type="number"],
  &[type="search"],
  &[type="password"],
  &[type="datetime-local"] {
    outline: none;
    color: $text-color;
    background: $default-color;
    border: 0;
    box-shadow:
      3px 3px 6px 0 $dark-shadow inset,
      -4px -4px 6px 0 $light-shadow inset;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 8px;
    margin-bottom: 6px;

    &::placeholder {
      color: $text-color-disabled;
    }

    &[disabled] {
      cursor: not-allowed;
      color: $text-color-disabled;
      background-color: $bg-disabled;
      box-shadow:
        3px 3px 6px 0 $dark-shadow inset,
        -4px -4px 6px 0 #ffffff5e inset;
    }
  }

  &[type="color"],
  &[type="time"]::-webkit-calendar-picker-indicator,
  &[type="date"]::-webkit-calendar-picker-indicator,
  &[type="datetime-local"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

  &[type="range"] {
    -webkit-appearance: none;
    background: transparent;

    @mixin slider-thumb {
      cursor: pointer;
      height: 25px;
      width: 25px;
      box-shadow:
        4px 4px 6px 0 $dark-shadow,
        -4px -4px 6px 0 $light-shadow;
      background-color: $default-color;
      border: 1px solid transparent;
      border-radius: 100px;
      margin-top: -7px;
      transition-duration: 0.15s;
    }
    @mixin slider-thumb-pressed {
      height: 24px;
      width: 24px;
      box-shadow:
        2px 2px 4px 0 $dark-shadow,
        -2px -2px 4px 0 $light-shadow,
        2px 2px 4px 0 $dark-shadow inset,
        -2px -2px 4px 0 $light-shadow inset;
      background-color: $default-color;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include slider-thumb;
    }
    &::-webkit-slider-thumb:active {
      @include slider-thumb-pressed;
    }
    &::-moz-range-thumb {
      @include slider-thumb;
    }
    &::-moz-range-thumb:active {
      @include slider-thumb-pressed;
    }

    @mixin slider-track {
      height: 12px;
      cursor: pointer;
      box-shadow:
        3px 3px 4px 0 $dark-shadow inset,
        -3px -3px 4px 0 $light-shadow inset;
      background-color: $default-color;
      border-radius: 100px;
    }
    &::-webkit-slider-runnable-track {
      @include slider-track;
    }
    &::-moz-range-track {
      @include slider-track;
    }
    &::-ms-track {
      @include slider-track;
    }

    &:focus {
      outline: none;
    }
  }
}

.neu-fieldset {
  border: none;
  padding: 0;

  &__legend {
    display: block;
    width: 100%;
    color: $text-color;
    padding: 12px 0;
    margin-bottom: 16px;
    border-bottom: 2px solid #e6e6e6;
    box-shadow: 0 4px 2px -2px $dark-shadow;
  }
}

.neu-form-label {
  color: $label-color;
  display: block;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.neu-form-message {
  color: #5e5e5e;
  font-size: 12px;
  margin: 0;

  &-danger {
    @extend .neu-form-message;
    color: $danger-color;
  }
  &-success {
    @extend .neu-form-message;
    color: $success-color;
  }
  &-info {
    @extend .neu-form-message;
    color: $info-color;
  }
  &-warning {
    @extend .neu-form-message;
    color: $warning-color;
  }
}

.neu-form-group {
  margin-bottom: 16px;
  .neu-input {
    display: block;
  }

  &-inline {
    @extend .neu-form-group;
    .neu-form-label {
      display: inline-block;
      margin-right: 12px;
    }
    .neu-input {
      display: inline-block;
    }
    .neu-form-message {
      display: inline-block;
      margin-left: 12px;
    }
  }
}