$default-color: #F0F0F3;
$light-shadow: white;
$dark-shadow: rgba(174, 174, 192, 0.5);

$text-color: #474747;
$label-color: #707070;
$text-color-disabled: #bdbdbd;
$danger-color: #f14668;
$info-color: #2693DA;
$success-color: #12AF49;
$warning-color: rgb(228, 177, 9);
$bg-disabled: #e6e6e6;